@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
.calculator{
    position: relative;
    display: grid;
    cursor: pointer;
    height: 500px;
    width: 300px;
}
.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    font-size: 22px;
}
.calculator span{
    display: grid;
    width: 75px;
    height: 80px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
}
.calculator span:active{
    background: #6503e6;
    color: #111;
}
.calculator span.clear{
    grid-column: span 2;
    width: 150px;
    background: #ff3041;
}
.calculator span.clear:hover{
    background: #f1690f;
}
.calculator span.plus{
    grid-row: span 2;
    height: 160px;
}
.calculator span.equal{
    background: #03b1ff;
}
.calculator span.equal:hover{
    background: #40da03;
}

.backbtn {
    position: absolute;
    font-size: 2rem;
    float: left;
    cursor: pointer;
    top: 3rem;
    left: 8rem;
}
.backbtn a{
    text-decoration: none;
    color: #fff;  
}