*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
body.light{
    background: #d1dae3;
}
.clock{
    width: 400px;
    height: 397px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #091921;
    background-size: cover;
    border-radius: 50%;
    background: #091921 url(./clock.png);
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3);
    cursor: pointer;
}
body.light .clock{
    background: #d1dae3 url(./clock.png);
    background-size: cover;
    border: 4px solid #cad3dc;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
                10px 10px 10px rgba(0, 0, 0, 0.5),
                inset -8px -8px 15px rgba(255,255,255,0.1),
                inset 10px 10px 10px rgba(0,0,0,0.1);
}
.clock::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 100000;
}
body.light .clock::before{
    background: #008eff;
}
.clock .hour, .clock .min, .clock .sec{
    position: absolute;
}
.clock .hour, .hr{
    width: 160px;
    height: 160px;
}
.clock .min{
    width: 190px;
    height: 190px;
}
.clock .sec{
    width: 230px;
    height: 230px;
}
.clock .millisec{
    width: 280px;
    height: 280px;
}
.hr, .min , .sec, .millisec{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: rgb(13, 54, 235);
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
.toggleClass{
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: #d1dae3;
    color: #d1dae3;
    font-family: consolas, sans-serif;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
}
.toggleClass:before{
    position: absolute;
    content: 'Light Mode';
    left: 25px;
    white-space: nowrap;
}
body.light .toggleClass{
    background: #091921;
    color: #091921;
}
body.light .toggleClass:before{
    content: 'Dark Mode';
    left: 25px;
    white-space: nowrap;
}
.backbtn {
    position: absolute;
    font-size: 2rem;
    left: 2rem;
    top: 2.5rem;
    margin-left: 6rem;
    cursor: pointer;
    color:#fff;
  }
.backbtn a{
    text-decoration: none;
    color: #fff;
}